.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
  padding: 1rem;
}

.App > :not(:first-child) {
  margin-bottom: 1rem;
}

.label {
  align-self: stretch;
  display: flex;
}

.label > :not(:first-child) {
  margin-left: 0.25rem;
}

.label > input {
  flex: 1;
}

.live {
  font-size: smaller;
  color: #aaa;
}

.widget-container {
  flex: 1;
  align-self: stretch;
  background-color: #99f;
}

.the-widget {
  width: 100%;
  height: 100%;
}
